# Mines, Part 2

You can get information about a specific mine by using its Mine ID.

**Try searching using the Mine ID `3503598`**.

## Preparation: Knowing your tags

These questions are the same for every data set, and might not work exactly for yours.

### What is the tag and class name for the mine operator name?

In [1]:
#<td> <font style="FONT-SIZE:.80em; color:#000080"><strong>Operator:</strong> </font></td>

### What is the tag and class name for the current controller?

In [2]:
# <td width="40%"> <font style="FONT-SIZE:.80em; color:#000080"><b><!-- DNT -->S-2 Contractors Inc<!-- /DNT --></b></font></td>

### What is the tag and class name for the operator history area?

In [3]:
# <tr> <td colspan="3" valign="top"><div class="drsoprhistory">Operator History for Mine ID:  <b>3503598</b></div>  </td></tr>

### What is the tag and class name for the mine's address?

In [4]:
# <td width="40%"><font style="FONT-SIZE:.80em; color:#000080">6860 Anderson Rd.<br> Aurora, OR&nbsp;&nbsp;97002</font></td>

## Setup: Import what you'll need to scrape the page

Use `requests`, not `urllib`.

In [5]:
import requests
from bs4 import BeautifulSoup

## Scrape this page

Scrape this page, displaying the

- The operator
- The current address
- The current controller

**You should know how to do `.post` requests by now.**

In [6]:
data = {
'MineId':'3503598',
'x':'0',
'y':'0'    
}

url_specific_mine = "https://arlweb.msha.gov/drs/ASP/BasicMineInfonew.asp"
response_specific_mine = requests.post(url_specific_mine, data = data)

In [7]:
doc_specific_mine = BeautifulSoup(response_specific_mine.text, "html.parser")
doc_specific_mine

 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-type"/>
<meta content="IE=Edge" http-equiv="X-UA-Compatible"/>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<script src="/2010redesign/Scripts/federated-analytics.js" type="text/javascript"></script>
<script src="/2010redesign/Scripts/AC_RunActiveContent.js" type="text/javascript"></script>
<link href="/2010Redesign/includes/Print.css" media="print" rel="stylesheet" type="text/css"/>
<link href="/2010Redesign/Includes/MSHAwebnew.css" media="screen" rel="stylesheet" type="text/css">
<link href="/2010Redesign/includes/style-screen.css" media="screen" rel="stylesheet" type="text/css"/>
</link></head>
<body>
<link href="https://webapps.dol.gov/FSPublic/Content/W_Helpful.css" rel="stylesheet" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/JavaScript"></script>
<script id="_fed_an_ua_tag" src="/res/js/dap.min.js?agency=DOL&amp;subagency=MSHA" type="text/javascript"></script>
<!--<script language="javascript" id="_fed_an_ua_tag" src="/res/js/federated-analytics.min.js?agency=DOL&subagency=MSHA"></script>-->
<script src="https://webapps.dol.gov/FSPublic/Scripts/W_Helpful.js" type="text/JavaScript"></script>
<script type="text/JavaScript">
	$(document).ready(function() {
		W_Helpful.init('#fbcontent');
	});(jQuery);
</script>
<script><!-- ************* GOOGLE ANALYTICS ****************** -->
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-52441844-1', 'auto');
	ga('send', 'pageview');

	$(document).ready( function() {
		$("a[href$='pdf']").each(function() {
			eventName=$(this).attr('href');
			eventClick="ga('send','event','PDF','Download','"+eventName+"');";
			$(this).attr("onClick",eventClick);
		});
	});
</script>
<div style="display:none;"><a href="#content">Skip to content</a></div>
<div id="header">
<div id="searchMSHA">
<a href="https://mshasearch.msha.gov/search?access=p&amp;entqr=0&amp;output=xml_no_dtd&amp;sort=date%3AD%3AL%3Ad1&amp;ie=UTF-8&amp;lr=&amp;client=MSHASearch&amp;ud=1&amp;site=AllDocuments&amp;oe=UTF-8&amp;proxystylesheet=MSHASearch&amp;ip=&amp;proxycustom=%3CADVANCED/%3E">
<div color="#FFFFFF" style="margin: -3px 0 3px 0;"><b>Additional Search Options</b></div>
</a>
<form action="https://mshasearch.msha.gov/search" method="get" target="_self">
<!--<form method="get" target="_self" action="/services/searchNotice.asp"> -->
<label class="scr-rdr" for="mshaSearchField">Find it at MSHA</label>
<input id="mshaSearchField" name="q" onclick="this.value='';" style="color:#990000;" type="text" value="Find It at MSHA"/>
<input class="searchBtn" name="search" style="color:#990000; font-weight: bold; font-family: Arial, sans-serif; height: 22px; padding: 0px; font-size:0.9em; width: 60px; padding-right: 2px;" type="submit" value="SEARCH">
<input name="client" type="hidden" value="MSHASearch"/>
<input name="output" type="hidden" value="xml_no_dtd"/>
<input name="proxystylesheet" type="hidden" value="MSHASearch"/>
<input name="filter" type="hidden" value="p"/>
<input name="getfields" type="hidden" value="*"/>
<input name="site" type="hidden" value="AllDocuments"/>
</input></form>
</div>
<div id="subscribe">
<script src="https://public.govdelivery.com/javascripts/cache/snippet.js" type="text/javascript"></script>
<form accept-charset="UTF-8" action="https://public.govdelivery.com/accounts/USDOL/subscriber/qualify?qsp=USDOL_2585" method="post">
<div style="margin:0;padding:0;display:inline;color:#fff;font-size: 12px;">
<input name="utf8" type="hidden" value="Ã¢ÂÂ">
<input name="authenticity_token" type="hidden" value="4BAzX1/DPLa9DIarEHPs6w3ymvDs6SIgrYFizEOhBMs=">
</input></input></div>
<div style="color:#ffffff;font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;font-style:normal;font-size: 12px;border-radius:0px !important;">
<fieldset style="border:none; border-radius:0px !important; padding: 0px; margin: 0; font-size: 12px;;">
<b>Subscribe to Email Updates</b><br/>
<input class="long" id="email" name="email" style="height: 22px; border-width: 1px;padding:none;color:#990000; width: 180px; font-family: Verdana; font-style:normal;font-size:10pt; font-weight: 400; margin-right: 5px; display: inline-block; box-sizing: border-box; padding: 0 !important;" type="text">
<div class="button_panel" style="float:right;">
<input class="searchBtn" name="commit" style="color:#990000; font-weight: bold; font-style: uppercase;font-family: Arial, sans-serif; border: none; height: 22px; padding: 0px; font-size:0.9em; width: 60px; padding-right: 2px;" type="submit" value="SUBMIT">
</input></div>
</input></fieldset>
</div>
</form>
<script type="text/javascript">
	  //<![CDATA[
		new GD.view.AccountSubscribersNew({
		  facebookAppId: "188927694463050",
		  facebookLoginURL: "/accounts/USDOL/facebook_subscriber/login",
		  wirelessEnabled: true
		}).init();
	  //]]>
	</script>
</div>
<div id="dol_logo">
<a href="http://www.dol.gov/">
<img alt="Seal of the United States Department of Labor" border="0" src="/images/dol_sym.gif"/></a>
</div>
<div id="headText">
<span id="dol1">
<a href="http://www.dol.gov">
				UNITED STATES<br/>
				DEPARTMENT OF LABOR
			</a>
</span>
</div>
<div style="clear:both;"></div>
<div id="headlinks">
<a href="/indexes/atozpage.asp">A-Z Index</a> |
		<a href="/siteindex/siteindex.asp">Site Map</a> |
		<a href="/faq/faqhome.htm">FAQs</a> |
		<a href="/forms/forms.asp">MSHA Forms</a> |
		<a href="/contactmsha/contactmsha.htm">Contact Us</a> |

<!-- 		<script language="JavaScript">
			var pagePath = location.href.split(location.host)[1];
			document.write("<a href=\"http://es.arlweb.msha.gov.systranlinks.net/" + pagePath + " \" target=\"new_window\">");
			document.write("Espa&ntilde;ol</a>");
		</script> -->
<span id="google_translate_element"></span>
<style>
			span#google_translate_element {
				float: right;
				margin-top: -5px;
			}
			a.goog-te-menu-value > span {
			    color: #000000;
			}
		</style>
<script type="text/javascript">
			function googleTranslateElementInit() {
			  new google.translate.TranslateElement({
			  	pageLanguage: 'en',
			  	includedLanguages: 'en,es',
			  	layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
			  	gaTrack: true, gaId: 'UA-52441844-1'
			  }, 'google_translate_element');
			}
		</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>
</div>
<div style="clear:both;"></div>
<div id="three">
<div id="hcontent">
<div id="agency">
<a href="http://www.msha.gov" style="text-decoration:none;">Mine Safety and Health Administration - MSHA</a>
<!-- AddThis Button BEGIN -->
<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=ra-52d534a46402ec50" style="margin-left: 230px">
<img alt="Bookmark and Share" height="16" src="https://s7.addthis.com/static/btn/v2/lg-share-en.gif" style="border:0" width="125"/>
</a>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52d534a46402ec50" type="text/javascript"></script>
<!-- AddThis Button END -->
<br/>    <a href="http://www.msha.gov" style="text-decoration:none;">  - Protecting Miners' Safety and Health Since 1978</a>
</div>
<div id="headImg">
<script language="JavaScript">
					if (window.print) {
						document.write('<form><input type=button name=print value="Print This Page" onClick="window.print()"></form>');
					}
				</script>
<div class="utilitybarright" style=" width: 150px; margin-top: 5px;">
<div id="fbcontent" style="float:right"></div>
</div>
</div> <!-- End Agency -->
</div>
</div> <!-- End three -->
</div><!-- End Header -->
<div id="headSeparator"></div>
<!-- This ends the newheader.asp content-->
<div id="container">
<!-- This begins the page content section-->
<div id="content">
<table border="0" width="100%">
<tr>
<td width="30%"><a href="/drs/drshome.htm"><img alt="Mine Data Retrieval System" border="0" height="75" src="/drs/images/drslogo.png" width="300"/></a></td>
<th width="40%"><font style="FONT-SIZE:1.20em;">Report Selection Page</font></th>
<td width="30%"> </td></tr></table>
<br/>
<hr color="#800000" size="1"/>
<form action="/drs/ASP/MineAction.asp" method="post">
<!-- END HTML HEADER ------------------------------------- -->
<!-- Output FORM -->
<!--************  A series of forms, one for each mine  *************** -->
<table bgcolor="#FFFFBF" border="0" width="100%">
<tr>
<td colspan="3"> <font style="FONT-SIZE:1.00em; color:#800000"><b>Current Mine Information</b></font></td></tr>
<tr>
<td width="10%"><font style="FONT-SIZE:.80em; color:#000080"><strong>Mine ID:</strong></font></td>
<td width="15%"><font style="FONT-SIZE:.80em; color:#000080"><b>
<input maxlength="7" name="MineId" size="10" type="hidden" value="3503598"/>3503598</b> </font></td>
<th width="70%"> </th></tr>
<tr>
<td>
<font style="FONT-SIZE:.80em; color:#000080"><strong>Operator:</strong> </font></td>
<td><font style="FONT-SIZE:.80em; color:#000080"><b><!-- DNT -->Newberg Rock &amp; Dirt<!-- /DNT --></b> </font></td>
<td colspan="2" rowspan="10" valign="top">
<table align="center" bgcolor="#ffffff" width="100%">
<tr>
<td colspan="3" valign="top"><div class="drsoprhistory">Operator History for Mine ID:  <b>3503598</b></div>
<table width="100%">
<tr>
<td width="60%"><font style="FONT-SIZE:.75em; color:#000080"><u><b>Operator  Name</b></u></font></td>
<td align="right" width="20%"><font style="FONT-SIZE:.75em; color:#000080"><u><b>Begin Date</b></u></font></td>
<td align="right" width="20%"><font style="FONT-SIZE:.75em; color:#000080"><u><b>End Date</b></u></font></td> </tr>
<tr>
<td valign="top"><font style="FONT-SIZE:.75em; color:#000080"> Newberg Rock &amp; Dirt</font></td>
<td align="right" valign="top"><font style="FONT-SIZE:.75em; color:#000080">12/6/2012</font></td>
<td align="right" valign="top"><font style="FONT-SIZE:.75em; color:#000080"></font></td></tr>
<tr>
<td valign="top"><font style="FONT-SIZE:.75em; color:#000080"> Newberg Rock &amp; Dirt</font></td>
<td align="right" valign="top"><font style="FONT-SIZE:.75em; color:#000080">1/2/2012</font></td>
<td align="right" valign="top"><font style="FONT-SIZE:.75em; color:#000080">12/5/2012</font></td></tr>
<tr>
<td valign="top"><font style="FONT-SIZE:.75em; color:#000080">Newberg Rock &amp; Dirt</font></td>
<td align="right" valign="top"><font style="FONT-SIZE:.75em; color:#000080">6/24/2011</font></td>
<td align="right" valign="top"><font style="FONT-SIZE:.75em; color:#000080">1/1/2012</font></td></tr>
<tr>
<td valign="top"><font style="FONT-SIZE:.75em; color:#000080">Newberg Rock &amp; Dirt</font></td>
<td align="right" valign="top"><font style="FONT-SIZE:.75em; color:#000080">6/20/2004</font></td>
<td align="right" valign="top"><font style="FONT-SIZE:.75em; color:#000080">6/23/2011</font></td></tr>
<tr><th colspan="3"><br/><font style="FONT-SIZE:.75em; color:#000080">How do I use this information? <b><em><a href="../OperatorInfoHelp.asp" target="_blank">Click Here</a></em></b></font></th></tr>
</table>
</td></tr></table></td></tr></table></form></div></div></body></html>


<tr>
<td width="20%"> <font style="FONT-SIZE:.80em; color:#000080"><b>Opr. Begin Date:</b></font></td>
<td width="40%"><font style="FONT-SIZE:.80em; color:#000080"><b>12/6/2012</b></font></td></tr>
<tr>
<td width="20%"> <font style="FONT-SIZE:.80em; color:#000080"><strong>Mine Name:</strong></font></td>
<td width="40%"><font style="FONT-SIZE:.80em; color:#000080"><strong><!-- DNT -->Newberg Rock &amp; Dirt<!-- /DNT --></strong></font></td>
<tr>
<td width="20%"> <font style="FONT-SIZE:.80em; color:#000080"><b>Current Controller:</b></font></td>
<td width="40%">
<font style="FONT-SIZE:.80em; color:#000080"><b><!-- DNT -->
S-2 Contractors Inc<!-- /DNT --></b></font></td></tr>
<tr>
<td width="20%"><font style="FONT-SIZE:.80em; color:#000080"><b>Controller Start Date:</b></font></td>
<td width="40%">
<font style="FONT-SIZE:.80em; color:#000080"><b><!-- DNT -->12/6/2012<!-- /DNT --></b></font></td></tr>
<tr>
<td width="20%"> <font style="FONT-SIZE:.80em; color:#000080">Mine Status:</font></td>
<td width="40%"><font style="FONT-SIZE:.80em; color:#000080">Active</font></td></tr>
<tr>
<td width="20%"> <font style="FONT-SIZE:.80em; color:#000080">Status Date:</font></td>
<td width="40%"><font style="FONT-SIZE:.80em; color:#000080">4/14/2015</font></td></tr>
<tr>
<td width="20%"> <font style="FONT-SIZE:.80em; color:#000080">Mined Material: </font></td>
<td width="40%"><font style="FONT-SIZE:.80em; color:#000080">Crushed, Broken Stone NEC </font></td>
</tr>
<tr>
<td width="20%"> <font style="FONT-SIZE:.80em; color:#000080">Type of Mine: </font></td>
<td width="40%"><font style="FONT-SIZE:.80em; color:#000080">Surface             </font></td>
</tr>
<tr>
<td valign="top" width="20%"> <font style="FONT-SIZE:.80em; color:#000080">Location: </font></td>
<td width="40%"><font style="FONT-SIZE:.80em; color:#000080">Yamhill County,  OR</font></td></tr>
<tr>
<td valign="top" width="20%"> <font style="FONT-SIZE:.80em; color:#000080">Address of Record: </font></td>
<td width="40%"><font style="FONT-SIZE:.80em; color:#000080">
6860 Anderson Rd.<br/>
Aurora, OR  97002</font></td></tr>
</tr>
<hr color="#800000" size="1"/>
<table align="center" bgcolor="#FFFFFF" border="0" cellpadding="0" width="100%">
<tr>
<td>
<font style="FONT-SIZE:.80em; COLOR:#FF0000">For the reports below, other than Overview, if you do not provide a Beginning date, the date of <b>1/1/2014</b> will be used.</font><br/><br/></td></tr>
<tr>
<td>
<font style="FONT-SIZE:.80em;"><b>Beginning Date:</b>    <input maxlength="10" name="BDate" onclick="this.value='';" size="10" type="text"/>
 <b>Ending Date:</b> <input maxlength="10" name="EDate" onclick="this.value='';" size="10" type="text"/></font></td></tr></table>
<br/>
<table align="center" bgcolor="#e5e5e3" cellpadding="3" width="100%">
<tr>
<th colspan="4"><font style="FONT-SIZE:.80em; COLOR:#000">Please select from one of the following available reports.</font></th></tr>
<tr>
<td bgcolor="#ffffff" valign="top" width="25%">
<input checked="" name="Submit" type="radio" value="Overview"/> <font style="FONT-SIZE:.80em; COLOR:#000"><strong>Overview</strong></font>
<br/><br/>
<input name="Submit" type="radio" value="Inspections"/> <font style="FONT-SIZE:.80em; COLOR:#000"><strong>Inspections</strong></font>
<br/><br/>
<input name="Submit" type="radio" value="Accidents*"/> <font style="FONT-SIZE:.80em; COLOR:#000"><strong>Accidents*</strong></font></td></tr></table>
<td bgcolor="#ffffff" valign="top" width="25%">
<table border="0" cellpadding="5" cellspacing="0" width="100%">
<tr>
<td><input name="Submit" type="radio" value="Violations*"/>
<font style="FONT-SIZE:.80em; COLOR:#000"><b>Violations**</b></font> </td></tr>
<tr>
<td>
<font style="FONT-SIZE:80%; COLOR:#000"><strong>Sorted by -</strong></font>
<blockquote class="drs">
<input checked="" name="Sort" type="radio" value="1"/> <font style="FONT-SIZE:75%; COLOR:#000"><strong> Issue Date</strong></font><br/>
<input name="Sort" type="radio" value="2"/> <font style="FONT-SIZE:75%; COLOR:#000"><strong>Final Order Date</strong></font><br/>
<input name="Sort" type="radio" value="3"/> <font style="FONT-SIZE:75%; COLOR:#000"><strong>Standard</strong></font><br/>
<input name="Sort" type="radio" value="4"/> <font style="FONT-SIZE:75%; COLOR:#000"><strong>Case Number</strong></font>
</blockquote></td></tr></table></td>
<td bgcolor="#ffffff" valign="top" width="25%">
<input name="Submit" type="radio" value="VPID"/> <font style="FONT-SIZE:.80em; COLOR:#000"><b>VPID****</b></font>
<br/><br/>
<input name="Submit" type="radio" value="PPOV"/> <font style="FONT-SIZE:.80em; COLOR:#000"><b>POV Monitoring Tool</b></font></td>
<td bgcolor="#ffffff" valign="top" width="25%">
<input name="Submit" type="radio" value="Health Samples"/> <font style="FONT-SIZE:.80em; COLOR:#000"><b>Health Samples***</b></font>
<br/><br/>
<!--<input type="radio" name="Submit" value="Area Samples"> <FONT STYLE="FONT-SIZE:.80em; COLOR:#000"><b>Area Samples***</b></FONT>-->
</td>
<tr>
<td colspan="3"><font style="FONT-SIZE:.80em; color:#800000">*        Data only available  from 1983 on for Accidents.<br/>**      Data only available  from 1995 on for Violations and  1995 for Quartz Results<br/>***    Data only available from October 1996 on for Metal/Nonmetal Health Samples.<br/>
****  Data only available from 2006 on for VPID.</font></td>
<td align="center"><input alt="Submit Request" height="23" name="submit" src="/drs/images/submitrequestred.jpg" type="image" width="100"/></td></tr>

<br/>
<blockquote class="maroonbdr"><b><em>An Important Note:</em></b> The information provided by the Mine Data Retrieval System (MDRS)  is based on data gathered from various MSHA systems.  As there may be a lag time in data being entered into those systems, there will also be a lag in the reflection of that data on the MDRS.</blockquote>
<form action="/drs/ASP/MineAction70002.asp" method="post">
<input maxlength="7" name="MineId" size="10" type="hidden" value="3503598"/>
<br/>
<table cellpadding="5" width="95%">
<tr>
<th><font style="FONT-SIZE:.90em;">Employment/Production Reports for This Mine</font></th></tr></table>
<table cellpadding="5" width="95%">
<tr>
<th width="95%"><font style="FONT-SIZE:.75em;">Data only available from 1983 on for the Production Reports</font></th></tr></table>
<table bgcolor="#c0c0c0" cellpadding="3" width="95%">
<tr>
<th bgcolor="#000000" rowspan="3" width="40%"><font style="FONT-SIZE:.90em; COLOR:#fff">Mine Employment and Coal Production Totals<br/>for This Mine</font></th></tr>
<tr>
<td valign="top" width="30%">
<font style="FONT-SIZE:.75em; COLOR:#000">  <strong>Calendar Year from (yyyy):</strong> </font> <input maxlength="4" name="BeginYear" onclick="this.value='';" size="6" type="text" value="2014"/></td></tr></table></form>
<td valign="top" width="30%">
<font style="FONT-SIZE:.75em; COLOR:#000">  <strong>Calendar Year to (yyyy):</strong>  </font> <input maxlength="4" name="EndYear" onclick="this.value='';" size="6" type="text" value="2017"/></td>
<tr>
<td colspan="2">
<table width="100%">
<tr>
<td width="30%">  <font style="FONT-SIZE:.75em; COLOR:#000"><b>Quarterly Production Totals</b></font></td>
<td width="10%"><input checked="" name="submit" type="radio" value="QtrlyProd"/></td>
<td rowspan="2" width="30%"><input alt="Submit" border="0" height="23" src="/drs/images/submitrequestgrey.png" type="image" width="100"/></td></tr>
<tr>
<td width="30%">
<font style="FONT-SIZE:.75em; COLOR:#000"><b>Annual Production Totals</b></font>
<td width="15%"><input name="submit" type="radio" value="Annualprod"/></td>
</td></tr></table></td></tr>

<br/><br/>
<!-- END SUBROUTINE SECTION -->

<p> </p>
<div>
<a href="/drs/drshome.htm" title="DRS Home Page"><img align="middle" alt="Return to DRS Home Page" border="0" height="18" src="/headerfooter/drshomepage.jpg" width="18"/></a>  <a href="/drs/drshome.htm" title="DRS Home Page"><b><font color="Maroon" style="FONT-SIZE:8pt; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif">Return to DRS Home Page</font></b></a> </div>


<!-- This ends the page content-->


<!--This Starts the Footer--> <div id="footer">
<div style="clear:both;"></div>
<div id="fone"><a href="/faq/faqhome.htm">FAQs</a> |
				<a href="/readroom/readroom.htm">Freedom of Information Act</a> |
				<a href="/privacy.htm">Privacy &amp; Security Statement</a> |

In [8]:
doc_specific_mine.find_all('font', attrs = {'style':'FONT-SIZE:.80em; color:#000080'})

[<font style="FONT-SIZE:.80em; color:#000080"><strong>Mine ID:</strong></font>,
 <font style="FONT-SIZE:.80em; color:#000080"><b>
 <input maxlength="7" name="MineId" size="10" type="hidden" value="3503598"/>3503598</b> </font>,
 <font style="FONT-SIZE:.80em; color:#000080"><strong>Operator:</strong> </font>,
 <font style="FONT-SIZE:.80em; color:#000080"><b><!-- DNT -->Newberg Rock &amp; Dirt<!-- /DNT --></b> </font>,
 <font style="FONT-SIZE:.80em; color:#000080"><b>Opr. Begin Date:</b></font>,
 <font style="FONT-SIZE:.80em; color:#000080"><b>12/6/2012</b></font>,
 <font style="FONT-SIZE:.80em; color:#000080"><strong>Mine Name:</strong></font>,
 <font style="FONT-SIZE:.80em; color:#000080"><strong><!-- DNT -->Newberg Rock &amp; Dirt<!-- /DNT --></strong></font>,
 <font style="FONT-SIZE:.80em; color:#000080"><b>Current Controller:</b></font>,
 <font style="FONT-SIZE:.80em; color:#000080"><b><!-- DNT -->
 S-2 Contractors Inc<!-- /DNT --></b></font>,
 <font style="FONT-SIZE:.80em; color:#000080"><b>Controller Start Date:</b></font>,
 <font style="FONT-SIZE:.80em; color:#000080"><b><!-- DNT -->12/6/2012<!-- /DNT --></b></font>,
 <font style="FONT-SIZE:.80em; color:#000080">Mine Status:</font>,
 <font style="FONT-SIZE:.80em; color:#000080">Active</font>,
 <font style="FONT-SIZE:.80em; color:#000080">Status Date:</font>,
 <font style="FONT-SIZE:.80em; color:#000080">4/14/2015</font>,
 <font style="FONT-SIZE:.80em; color:#000080">Mined Material: </font>,
 <font style="FONT-SIZE:.80em; color:#000080">Crushed, Broken Stone NEC </font>,
 <font style="FONT-SIZE:.80em; color:#000080">Type of Mine: </font>,
 <font style="FONT-SIZE:.80em; color:#000080">Surface             </font>,
 <font style="FONT-SIZE:.80em; color:#000080">Location: </font>,
 <font style="FONT-SIZE:.80em; color:#000080">Yamhill County,  OR</font>,
 <font style="FONT-SIZE:.80em; color:#000080">Address of Record: </font>,
 <font style="FONT-SIZE:.80em; color:#000080">
 6860 Anderson Rd.<br/>
 Aurora, OR  97002</font>]

In [9]:
operator = doc_specific_mine.find_all('font', attrs = {'style':'FONT-SIZE:.80em; color:#000080'})[3].b
operator = operator.text
operator

'Newberg Rock & Dirt'

In [10]:
address = doc_specific_mine.find_all('font', attrs = {'style':'FONT-SIZE:.80em; color:#000080'})[-1]
address = address.text.strip()
address = address.replace("\r\n", ", ")
address = address.replace("\xa0\xa0",", ")
address

'6860 Anderson Rd., Aurora, OR, 97002'

In [11]:
controller = doc_specific_mine.find_all('font', attrs = {'style':'FONT-SIZE:.80em; color:#000080'})[9]
controller = controller.text.strip()
controller

'S-2 Contractors Inc'

## Getting information on many mines

### Reading in our source

Using pandas, read in `mines-subset.csv`.

In [12]:
import pandas as pd
mines_subset = pd.read_csv('mines-subset.csv')
mines_subset.shape

(4, 1)

In [13]:
mines_subset.dtypes

id    int64
dtype: object

In [14]:
mines_subset

        id
0  2501216
1  3200965
2  2901371
3  2901544

## Scrape every single row, storing the current controller and mine operator in new columns.

You probably want to open up the Jupyter Notebook that's about `.apply`.

In [15]:
def operator_name(row):
    data = {
        'MineId': row['id'],
        'x':'0',
        'y':'0'    
        }
    url_specific_mine = "https://arlweb.msha.gov/drs/ASP/BasicMineInfonew.asp"
    response_specific_mine = requests.post(url_specific_mine, data = data)
    doc_specific_mine = BeautifulSoup(response_specific_mine.text, "html.parser")
    operator = doc_specific_mine.find_all('font', attrs = {'style':'FONT-SIZE:.80em; color:#000080'})[3].b
    operator = operator.text
    return operator

mines_subset.apply(operator_name, axis=1)

mines_subset['operator_name'] = mines_subset.apply(operator_name, axis=1)
mines_subset

        id                operator_name
0  2501216      Iske Dirt Sand & Gravel
1  3200965            J M Lynn Dirtwork
2  2901371  Jake Diel Dirt & Paving Inc
3  2901544  Jake Diel Dirt & Paving Inc

In [16]:
def mine_address(row):
    data = {
        'MineId': row['id'],
        'x':'0',
        'y':'0'    
        }
    url_specific_mine = "https://arlweb.msha.gov/drs/ASP/BasicMineInfonew.asp"
    response_specific_mine = requests.post(url_specific_mine, data = data)
    doc_specific_mine = BeautifulSoup(response_specific_mine.text, "html.parser")
    address = doc_specific_mine.find_all('font', attrs = {'style':'FONT-SIZE:.80em; color:#000080'})[-1]
    address = address.text.strip()
    address = address.replace("\r\n", ", ")
    address = address.replace("\xa0\xa0",", ")
    return address

mines_subset.apply(mine_address, axis=1)

mines_subset['mine_address'] = mines_subset.apply(mine_address, axis=1)
mines_subset

,id,operator_name,mine_address
0,2501216,Iske Dirt Sand & Gravel,"24617 W Center Rd, Waterloo, NE, 68069"
1,3200965,J M Lynn Dirtwork,"485 Helene St, Palermo, ND, 58769"
2,2901371,Jake Diel Dirt & Paving Inc,"E Hwy 60, HEREFORD, TX, 79045"
3,2901544,Jake Diel Dirt & Paving Inc,"E Hwy 60, HEREFORD, TX, 79045"

In [17]:
def main_controller(row):
    data = {
        'MineId': row['id'],
        'x':'0',
        'y':'0'    
        }
    url_specific_mine = "https://arlweb.msha.gov/drs/ASP/BasicMineInfonew.asp"
    response_specific_mine = requests.post(url_specific_mine, data = data)
    doc_specific_mine = BeautifulSoup(response_specific_mine.text, "html.parser")
    controller = doc_specific_mine.find_all('font', attrs = {'style':'FONT-SIZE:.80em; color:#000080'})[9]
    controller = controller.text.strip()
    controller
    return controller

mines_subset['main_controller'] = mines_subset.apply(main_controller, axis=1)
mines_subset

,id,operator_name,mine_address,main_controller
0,2501216,Iske Dirt Sand & Gravel,"24617 W Center Rd, Waterloo, NE, 68069",David A Iske
1,3200965,J M Lynn Dirtwork,"485 Helene St, Palermo, ND, 58769",John Lynn
2,2901371,Jake Diel Dirt & Paving Inc,"E Hwy 60, HEREFORD, TX, 79045",Lawson Warner
3,2901544,Jake Diel Dirt & Paving Inc,"E Hwy 60, HEREFORD, TX, 79045",Lawson Warner

### Save your dataframe

In [18]:
mines_subset.to_csv('mines-subset_expanded.csv', index = False)

### Re-open your dataframe to confirm you didn't save any extra weird columns

In [20]:
pd.read_csv('mines-subset_expanded.csv')

,id,operator_name,mine_address,main_controller
0,2501216,Iske Dirt Sand & Gravel,"24617 W Center Rd, Waterloo, NE, 68069",David A Iske
1,3200965,J M Lynn Dirtwork,"485 Helene St, Palermo, ND, 58769",John Lynn
2,2901371,Jake Diel Dirt & Paving Inc,"E Hwy 60, HEREFORD, TX, 79045",Lawson Warner
3,2901544,Jake Diel Dirt & Paving Inc,"E Hwy 60, HEREFORD, TX, 79045",Lawson Warner

## Repeat this process for the entire `mines.csv` file

In [21]:
mines_csv = pd.read_csv('mines.csv', converters = {'id':str})
mines_csv.head()

        id
0  3503598
1  0502030
2  4801789
3  4201449
4  4201450

In [22]:
mines_csv = mines_csv.rename(index=str, columns={'id':'new_id'})
mines_csv.head()

    new_id
0  3503598
1  0502030
2  4801789
3  4201449
4  4201450

In [23]:
def operators_name(row):
    data = {
        'MineId': row['new_id'],
        'x':'0',
        'y':'0'    
        }
    url_specific_mine = "https://arlweb.msha.gov/drs/ASP/BasicMineInfonew.asp"
    response_specific_mine = requests.post(url_specific_mine, data = data)
    doc_specific_mine = BeautifulSoup(response_specific_mine.text, "html.parser")
    font_tds = doc_specific_mine.find_all('font', attrs = {'style':'FONT-SIZE:.80em; color:#000080'})
    operators = font_tds[3].b
    operators = operators.text
    return operators

mines_csv['operator_name'] = mines_csv.apply(operators_name, axis=1)
mines_csv.head()

    new_id                   operator_name
0  3503598             Newberg Rock & Dirt
1  0502030      Allied Dirt Moving Company
2  4801789  AM Dirtworks & Aggregate Sales
3  4201449        Atlas-Dirty Devil Mining
4  4201450        Atlas-Dirty Devil Mining

In [24]:
def mine_addresses(row):
    data = {
        'MineId': row['new_id'],
        'x':'0',
        'y':'0'    
        }
    url_specific_mine = "https://arlweb.msha.gov/drs/ASP/BasicMineInfonew.asp"
    response_specific_mine = requests.post(url_specific_mine, data = data)
    doc_specific_mine = BeautifulSoup(response_specific_mine.text, "html.parser")
    font_tds = doc_specific_mine.find_all('font', attrs = {'style':'FONT-SIZE:.80em; color:#000080'})
    addresses = font_tds[23].text.strip()
    addresses = addresses.replace("\r\n", ", ")
    addresses = addresses.replace("\xa0\xa0",", ")
    return addresses

mines_csv['mine_address'] = mines_csv.apply(mine_addresses, axis=1)
mines_csv.head()

,new_id,operator_name,mine_address
0,3503598,Newberg Rock & Dirt,"6860 Anderson Rd., Aurora, OR, 97002"
1,0502030,Allied Dirt Moving Company,"2360 West 2nd Ave, DENVER, CO, 80010"
2,4801789,AM Dirtworks & Aggregate Sales,"120 Dally Ln, Buffalo, WY, 82834"
3,4201449,Atlas-Dirty Devil Mining,"GREEN RIVER, UT, 84525"
4,4201450,Atlas-Dirty Devil Mining,"GREEN RIVER, UT, 84525"

In [25]:
def main_controllers(row):
    data = {
        'MineId': row['new_id'],
        'x':'0',
        'y':'0'    
        }
    url_specific_mine = "https://arlweb.msha.gov/drs/ASP/BasicMineInfonew.asp"
    response_specific_mine = requests.post(url_specific_mine, data = data)
    doc_specific_mine = BeautifulSoup(response_specific_mine.text, "html.parser")
    font_tds = doc_specific_mine.find_all('font', attrs = {'style':'FONT-SIZE:.80em; color:#000080'})
    controllers = font_tds[9].b
    controllers = controllers.text.strip()
    return controllers

mines_csv['main_controller'] = mines_csv.apply(main_controllers, axis=1)
mines_csv.head()

,new_id,operator_name,mine_address,main_controller
0,3503598,Newberg Rock & Dirt,"6860 Anderson Rd., Aurora, OR, 97002",S-2 Contractors Inc
1,0502030,Allied Dirt Moving Company,"2360 West 2nd Ave, DENVER, CO, 80010",Allied Dirt Moving Company
2,4801789,AM Dirtworks & Aggregate Sales,"120 Dally Ln, Buffalo, WY, 82834",Matt Mitchell
3,4201449,Atlas-Dirty Devil Mining,"GREEN RIVER, UT, 84525",Atlas Resources Inc & Dirty Devil Mining Co
4,4201450,Atlas-Dirty Devil Mining,"GREEN RIVER, UT, 84525",Atlas Resources Inc & Dirty Devil Mining Co

In [26]:
mines_csv.head()

,new_id,operator_name,mine_address,main_controller
0,3503598,Newberg Rock & Dirt,"6860 Anderson Rd., Aurora, OR, 97002",S-2 Contractors Inc
1,0502030,Allied Dirt Moving Company,"2360 West 2nd Ave, DENVER, CO, 80010",Allied Dirt Moving Company
2,4801789,AM Dirtworks & Aggregate Sales,"120 Dally Ln, Buffalo, WY, 82834",Matt Mitchell
3,4201449,Atlas-Dirty Devil Mining,"GREEN RIVER, UT, 84525",Atlas Resources Inc & Dirty Devil Mining Co
4,4201450,Atlas-Dirty Devil Mining,"GREEN RIVER, UT, 84525",Atlas Resources Inc & Dirty Devil Mining Co

In [27]:
mines_csv = mines_csv.rename(index=str, columns={'new_id':'id'})
mines_csv.head()

,id,operator_name,mine_address,main_controller
0,3503598,Newberg Rock & Dirt,"6860 Anderson Rd., Aurora, OR, 97002",S-2 Contractors Inc
1,0502030,Allied Dirt Moving Company,"2360 West 2nd Ave, DENVER, CO, 80010",Allied Dirt Moving Company
2,4801789,AM Dirtworks & Aggregate Sales,"120 Dally Ln, Buffalo, WY, 82834",Matt Mitchell
3,4201449,Atlas-Dirty Devil Mining,"GREEN RIVER, UT, 84525",Atlas Resources Inc & Dirty Devil Mining Co
4,4201450,Atlas-Dirty Devil Mining,"GREEN RIVER, UT, 84525",Atlas Resources Inc & Dirty Devil Mining Co

In [28]:
mines_csv.id = mines_csv.id.astype(str)
mines_csv.dtypes

id                 object
operator_name      object
mine_address       object
main_controller    object
dtype: object

In [29]:
mines_csv.to_csv('mines_extended.csv', index=False)

In [30]:
pd.read_csv('mines_extended.csv').shape

(129, 4)

In [31]:
pd.read_csv('mines_extended.csv', converters = {'id': str}).head()

,id,operator_name,mine_address,main_controller
0,3503598,Newberg Rock & Dirt,"6860 Anderson Rd., Aurora, OR, 97002",S-2 Contractors Inc
1,0502030,Allied Dirt Moving Company,"2360 West 2nd Ave, DENVER, CO, 80010",Allied Dirt Moving Company
2,4801789,AM Dirtworks & Aggregate Sales,"120 Dally Ln, Buffalo, WY, 82834",Matt Mitchell
3,4201449,Atlas-Dirty Devil Mining,"GREEN RIVER, UT, 84525",Atlas Resources Inc & Dirty Devil Mining Co
4,4201450,Atlas-Dirty Devil Mining,"GREEN RIVER, UT, 84525",Atlas Resources Inc & Dirty Devil Mining Co